@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.section{
    padding: 48px 0px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 36px;
    color: black;
    font-weight: 700;
    margin-bottom: 16px;
}
.button-red{
        text-align: center;
        width: 90%;
        padding: 10px 10px;
        border-radius: 15px;
        background-color: #e83f82;
        font-size: 14px;
        color: #fff;
        font-family: 700;
        outline: none;
        border: none;
    } 
.button-blue-r{
    display: flex;
    justify-content: center;
}
.button-blue{
       text-align: center;
        width: 65%;
        padding: 15px 10px;
        border-radius: 15px;
        background-color: #513fe8;
        font-size: 20px;
        color: #fff;
        font-family: 700;
        outline: none;
        border: none;
}
.button-green{
    padding: 10px 16px;
    background-color: #02bb8c;
    border:none;
    border-radius: 5px;
    padding: 14px 16px;
    font-size: 16px;
    line-height: inherit;
    font-weight: 500;
    width: 230px;
    max-width: 100%;
}
/* HEADER */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    background: transparent;
    position: absolute;
    z-index: 20;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.logo{
    cursor: pointer;
    width: 100px;
}

.nav-link a{
    text-decoration: none;
    color: white;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 5px 20px;
}
.header .nav-link li:hover{
    background-color: hsla(0,0%,100%,.2);
}
.nav-bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
}
.nav-pc {
    display: none;
}
.nav-mobie{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.5s;
}
.nav-mobie li a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 300;
}
.nav-mobie li{
    list-style: none;
    padding: 9px 0px;
}
.nav__mobie-list{
    background-color: #fff;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 24px 50px;
    font-size:10px
    
}
.nav-mobie-close{
    color:#666;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0.3rem;
    left: 16rem;
}
.nav_input:checked ~ .nav-mobie{
    transform: translateX(0);
}
header button{
    background-color: #e83f82;
    margin-right: 10px;
    padding: 8px 10px;
    border: none;
    outline: none;
    margin-left: auto;
    border-radius: 6px;
    color: white;
    font-weight: 500;
}

/* CAROUSEL */
.carousel{
    position: relative;
}
.carousel__content{
    text-align: center;
    display: flex;
    align-items: center;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
.carousel img{
    object-fit: cover;
    width: 100%;
    height: 560px;
}
.carousel__content h1{
    color: white;
}
.carousel__content p:first-of-type{
    font-size: 18px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
    line-height: 38px;
    color: #fff;
}
.carousel__content p:last-of-type{
    width: 320px;
    height: 54px;
    font-weight: 500;
    font-size: 20px;
    background-color: #513fe8;
    border-radius: 12px;
    line-height: 51px;
    margin: auto;
}

/* TRUST */
.trust-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trust-item{
    display: flex;
    justify-content: center ;
    margin-bottom: 10px;
}
.trust-item img{
    display: block;
    
    width: auto;
    height: auto;
    filter: grayscale(100%);
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
     transition: all 0.5s;
}
.trust-item img:hover{
    filter: grayscale(0);
     -webkit-filter: grayscale(0);
     -moz-filter: grayscale(0);
     -ms-filter: grayscale(0);
     -o-filter: grayscale(0);
}
.trust-item{
    position: relative;
}


/* cryptoCourses */
.cryptoCourses_search{
    width: 100%;
    max-width: 700px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #b6b6b6;
    justify-content: space-around;
    border-radius: 22px;
    padding: 10px 20px;
}
.cryptoCourses .cryptoCourses_search input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 4px 11px;
    font-size: 16px;
    color: #b6b6b6;
}
.cryptoCourses_search input::placeholder{
    color: #b6b6b6  ;
}
.cryptoCourses_search button{
    background: transparent;
    border: none;
    
}
.cryptoCourses_search button i{
    font-size: 22px;
    background: transparent;
}
.cryptoCourses_search{
    margin-bottom: 48px;
}
.cryptoCourses .container {
    text-align: center;
}

.container-list{
  display: flex;
  justify-content: center;
  margin: 16px 0 48px;
  padding: 0 15px;
}
.container-list a{
    font-size: 13px;
    color: #29303b;
    font-weight: 400;
    padding: 10px 15px;
    margin:0 0 8px;
    text-decoration: none;
    line-height: 1.5;
}
.container-list a:first-child{
    color: #3f82e8;
    font-weight: 700;
}
.container-list a:hover {
    background: #eaecf7;
}
.container-list-content a{
    display: inline-block;
    margin-bottom: 8px;
}
.container-list-content{
    display: flex;
    
    overflow-x: scroll;
    
}
.cryptoCourses__feature{
    display: flex;
    flex-direction: column;
    width: 100%;
 
   

}
.cryptoCourses__item{
    background-color: white;
    width: 80%;
    height: 400px;
    margin: 10px auto;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}

.cryptoCourses__item .card-img{
    height: 191px;
    margin-bottom: 0;
    background-image: url('https://www.bitdegree.org/storage/course-image/youth-crypto-introduction.jpg');
    background-size: cover;
}
.card__content{
    padding: 8px 15px;
}
.card__content span{
    color: #909396;
    font-weight: 400;
    line-height: 12.55px;
    letter-spacing: .12px;
    font-size: 10px;

}
.card__content p{
    height: 60px;
    color: #323943;
    font-weight: 500;
    line-height: 20.3px;
    letter-spacing: .15px;
    font-size: 13px;
    margin-top: 10px;
}
.card__content .card-rating{
    display: flex;
    justify-content: space-between;
}
.card__content .card-rating i{
    color: #f4c150;
}
.card-free{
    color: black;
}
.cryptoCourses__item button{
    text-align: center;
    width: 90%;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #e83f82;
    font-size: 14px;
    color: #fff;
    font-family: 700;
    outline: none;
    border: none;
} 
.card-free{
    display: block;
    margin-top: 22px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 23px;
    margin-bottom: 4px;
}
.cryptoCourses__item .card-btn-s{
    display: flex;
    justify-content: center;
    
}
/* lea */
.lea__content{
    color: black;
}
.lea__content h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 20px;
    color: #e83f82;
    letter-spacing: .05em;
    text-align: center;
}
.lea__content p{
    margin-bottom: 16px;
    font-size: 16px;
}
.lea__content p:first-of-type span{
    font-weight: 600;
}
.lea__content p i{
    font-size: 18px;
    color: #e83f82;
    font-weight: bold;
    margin-right: 10px;
}
.lae-img{
    max-width: 100%;
    height: auto;
}
/* discord banner */
.discord-baner{
    width: 100%;
    height: 415px;
    background-image: url('https://www.bitdegree.org/assets/homepage/discord-bg.png');
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discord-content h2{
    color: white;
}
.discord-content p{
    margin-bottom: 32px;
}
/* cryptoVideo */
.cypto__video{
    color: black;
    text-align: center;
}
.cypto__video p{
    margin-bottom: 16px;
}
.cypto__video-content{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.cypto__video-item{
    padding: 0 15px;
}
.cypto__video-item .card-img-top{
    width: 100%;
    max-width: 700px;   
    object-fit: cover;
}
.cypto__video-text{
    text-align: start;
}
.cypto__video-text p:first-of-type{
    font-size: 16px;
    font-weight: 600;
    color: #db4437;
}
.cypto__video-text p:last-of-type{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 16px;
}
.cypto__video-img{
    position: relative;
}
.play-button{
    width: 90px;
    height: 90px;
    position: absolute;
    top:37%;
    left: 50%;
    transform: translateX(-50%);
}
.card-img-top{
    filter: grayscale(.5);
}
.cypto__video .button-blue{
    width: 50%;
    font-weight: 600;
    background-color: #02bb8c;
    border-radius: 30px;
    padding: 16px 15px;
}
/* crypto-exchanges */
.crypto-exchanges{
    background-color: #000330;
}
.crypto-exchanges .container h2{
    font-size: 36px;
    color: #e4e4e4;
    line-height: 45.5px;
    font-weight: 700;
    color: white;
}
.crypto-exchanges .container p,.crypto-exchanges .container li{
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: hsla(0,0%,100%,.8);
    margin-bottom: 16px;
}
.cryptoExchange_text{
    padding: 0 15px;
    text-align: center;
    color: black;
}
.cryptoExchange_text p{
    font-size: 16px;
    line-height: 24px;
    color: #29303b;
    font-weight: 300;
    padding: 16px;
}
.cryptoExchange{
   
    margin: 48px auto;
}
.cryptoExchange__coupon{
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
    padding: 24px;
    margin: 24px 0;
    text-align: center;
}
/* .coupon_verify */
.coupon_verify{
    margin: 16px 0;
}
.coupon_verify span:first-of-type{
    color: #02BB8C;
}
.cryptoExchange__coupon h2{
    margin: 0;
}
.cryptoExchange__coupon h5{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.coupon_verify span:last-of-type{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background: #e9385a;
    border-radius: 3px;
    letter-spacing: -.5px;
    padding: 5px ;
}
.cryptoExchange__coupon p:first-of-type a{
    color: #02bb8c;
    text-decoration: none;
}
.cryptoExchange__coupon p:nth-of-type(2){
    color:black;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    margin-bottom: 16px;
}
.coupon_time span{
    color: #6c757d;
    font-size: 12px;
    font-weight: 300;
    margin-right: 16px;

}
.coupon_time span:last-of-type{
    color: #e9385a  ;
}
.coupon_rating{
    color: black;
    margin-top: 24px;
}
.coupon_rating-start i{
    color: #f4c150;
    font-weight: 900;
    font-size: 24px;
}
.coupon_rating-start{
    margin-bottom: 10px;
}
.coupon_rating p:first-of-type{
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 9px;
}
.coupon_rating-start span:first-of-type{
    font-size: 24px;
    margin-right: 8px;
}
.cryptoExchange .button-green{
    color: white;
}
.cryptoExchange p:last-of-type a{
    color: #02bb8c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.cryptoExchange__coupon .button-green{
    margin-bottom: 13px;
 }
 /* comparison-table */
 .comparison-table-wrapper-fix{
     overflow-x: scroll;
 }
 .comparison-table-wrapper{
     width: 100%;
     margin-bottom: 30px;
 }
 .container-n1{
    width: 540px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .comparison-table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid green;
   
 }
 
 .comparison-table td,th{
     text-align: center;
     padding: 12px;
     border-right: 1px solid green;
 }
 .table-thead th:first-of-type{
    background-color: #02bb8c;
   
 }
 .table-thead th:nth-of-type(2){
    background-color: #cdcdcd;  
 }
 .table-thead th:nth-of-type(3){
    background-color: #cdcdcd;  
 }
 .comparison-table .title td:first-of-type{
     background-color:  rgba(2,187,140,.3);
 }
 .comparison-table .score td:first-of-type{
    background-color:  rgba(2,187,140,.3);
 }
 .comparison-table .action td:first-of-type{
    background-color:  rgba(2,187,140,.3); 
 }

 .comparison-tbody tr:nth-of-type(3) td:first-of-type,.comparison-tbody tr:nth-of-type(4) td:first-of-type,.comparison-tbody tr:nth-of-type(5) td:first-of-type{
    background-color:  rgba(2,187,140,.3);
 }
 .comparison-tbody tr:nth-of-type(1) td:first-of-type p, .comparison-tbody tr:nth-of-type(1) td:nth-of-type(2) p,.comparison-tbody tr:nth-of-type(1) td:nth-of-type(3) p{
    font-weight: 600;
    font-size: 26px;
 }
 .comparison-tbody tr:nth-of-type(2) td:nth-of-type(1) p:first-of-type,.comparison-tbody tr:nth-of-type(2) td:nth-of-type(2) p:first-of-type,.comparison-tbody tr:nth-of-type(2) td:nth-of-type(3) p:first-of-type{
    font-size: 58px;
    color: #29303b;
    font-weight: 700;
 }
 .comparison-tbody tr:nth-of-type(6) td:nth-of-type(1) a, .comparison-tbody tr:nth-of-type(6) td:nth-of-type(2) a, .comparison-tbody tr:nth-of-type(6) td:nth-of-type(3) a{
     text-decoration: none;
 } 
 .comparison-tbody tr:nth-of-type(6) button{
     margin-bottom: 8px;
 }
 .score .star-rating{
     color: #f4c150;
 }
 .coin_table-item{
     display: grid;
     width: 400px;
     grid-template-columns: 250px 250px ;
     grid-template-rows: auto auto auto;
     text-align: center;
     grid-gap: 10px;
  
     
 }
 .coin_table-item>div{
     padding: 16px;
 }
 .coin_table-item .item-2{
     grid-column: 1 / span 2;
 }